{% extends 'base.admin.html.twig' %}

{% block change %}
    <h1>Colisage index</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Reference</th>
                <th>Quantite</th>
                <th>Remarque</th>
                <th>colisage</th>
                <th>Number Colis</th>


            </tr>
        </thead>
        <tbody>
        {% for colisage in colisages %}
            <tr>

                <td>{{ colisage.refPrincipale }}</td>
                <td>{{ colisage.qteExpedie }}</td>
                <td>{{ colisage.Remarque }}</td>
                <td>{{ colisage.colisage }}</td>
                <td>

                    <a href="{{ path('app_produit_edit2', {'id': colisage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_colisage_new') }}">Create new</a>
{% endblock %}
